[submodule "jetson-inference"]
	path = jetson-inference
	url = https://github.com/dusty-nv/jetson-inference
[submodule "src/ros_deep_learning"]
	path = src/ros_deep_learning
	url = https://github.com/dusty-nv/ros_deep_learning
[submodule "src/jetbot_ros"]
	path = src/jetbot_ros
	url = https://github.com/dusty-nv/jetbot_ros
[submodule "src/bdbd/src/bdbd/bddata"]
	path = src/bdbd/src/bdbd/bddata
	url = git@github.com:rkent/bddata.git
[submodule "tensorrt_demos"]
	path = tensorrt_demos
	url = https://github.com/jkjung-avt/tensorrt_demos.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "librealsense"]
	path = librealsense
	url = git@github.com:rkent/librealsense.git
[submodule "src/timed_roslaunch"]
	path = src/timed_roslaunch
	url = https://github.com/MoriKen254/timed_roslaunch.git
[submodule "src/bdbd_common"]
	path = src/bdbd_common
	url = git@github.com:rkent/bdbd_common.git
