<launch>
    <node name='gamepad' pkg='bdbd' type='gamepad' ns='bdbd'/>
    <node name='motors' pkg='bdbd' type='motors' ns='bdbd' />
    <node name='domotors' pkg='bdbd' type='domotors' ns='bdbd' />
    <node name='sayit' pkg='bdbd' type='sayit' ns='bdbd' />
    <node name='hearit' pkg='bdbd' type='hearit' ns='bdbd' />
</launch>
