[Unit]
Description=PulseAudio system server
After=dbus.service

[Service]
Type=simple
ExecStart=/usr/bin/pulseaudio --system --disallow-exit

[Install]
WantedBy=multi-user.target
