[Unit]
After=NetworkManager.service time-sync.target
[Service]
Type=forking
User=kent
# Start roscore as a fork
# —————————————————————-
# Source all the environment variables, start roscore in a fork
ExecStart=/bin/sh -c '. /opt/ros/melodic/setup.sh ; . /etc/ros/env.sh ; roscore & done'
[Install]
WantedBy=multi-user.target

