<?xml version="1.0"?>

<launch>

    <arg name="camera" default="camera" />

    <!-- run pointcloud_to_laserscan node -->
    <node pkg="bdpointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="/sr305/depth/color/points"/>
        <remap from="scan" to="/pc_to_ls/scan" />
        <rosparam>
            target_frame: base_link
            transform_tolerance: 0.10
            min_height: -0.01
            max_height: +0.20

            angle_min: -0.45 # -M_PI/2
            angle_max: 0.45 # M_PI/2
            angle_increment: 0.05
            scan_time: 1.0
            range_min: 0.25
            range_max: 0.75
            use_inf: true
            inf_epsilon: 1.0

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 1
        </rosparam>

    </node>

</launch>
