<launch>
  <arg name="serial_no"             default=""/>
  <arg name="camera"                default="sr305"/>

  <group ns="$(arg camera)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"         value="$(arg serial_no)"/>
      <arg name="align_depth"       value="false"/>
      <arg name="depth_width"       value="640"/>
      <arg name="depth_height"      value="480"/>
      <arg name="depth_fps"         value="30"/>
      <arg name="color_width"       value="640"/>
      <arg name="color_height"      value="480"/>
      <arg name="color_fps"         value="30"/>
      <arg name="infra_width"       value="640"/>
      <arg name="infra_height"      value="480"/>
      <arg name="infra_fps"         value="30"/>
      <arg name="enable_depth"      value="true"/>
      <arg name="enable_color"      value="true"/>
      <arg name="enable_fisheye"    value="false"/>
      <arg name="enable_gyro"       value="false"/>
      <arg name="enable_accel"      value="false"/>
      <arg name="enable_sync"       value="true"/>
      <arg name="enable_infra1"     value="true"/>
      <arg name="enable_infra2"     value="false"/>"
      <arg name="filters"           value="pointcloud,temporal,decimation,spatial"/>
      <arg name="tf_prefix"         value="$(arg camera)"/>
      <arg name="allow_no_texture_points" value="true"/>
      <arg name="pointcloud_texture_stream" value="RS2_STREAM_COLOR"/>  <!-- use RS2_STREAM_ANY to avoid using texture -->
  
    </include>
  </group>
</launch>
